@page
@model ConsentModel
@{
    ViewData["Title"] = "Consent";
}

<h4>Revoke Consent</h4>
<p class="lead">
    During sign in, you consented to this application being able to register identities in your tenant.
    If you no longer want to grant this high-privilege permission to this application, you can revoke
    consent for your entire organization. To grant consent again, simply sign back in to this application.
</p>
<div class="alert alert-info">
    Note that this does not impact the provisioned device identities in any way, they remain able to use
    their identities as before.
</div>
<form method="POST">
    <button type="submit" class="btn btn-warning">Revoke</button>
</form>
